@import "tailwindcss";

:root {
  /* Backgrounds */
  --background: #ffffff;
  --background-secondary: #fcf8f5;
  --background-muted: #f3f0ed;

  /* Text */
  --text-primary: #333333;
  --text-secondary: #000000;
  --text-muted: rgba(51, 51, 51, 0.6);

  /* Brand */
  --primary: #f7d297;
  --primary-dark: #a19074;

  /* Accent */
  --green: #35580f;

  /* Border */
  --border: #d3cdcd;
}

@theme inline {
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
  
  --animate-marquee: marquee 20s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  

}
